footer{
    background-color: black;
    color: blanchedalmond;
    height: 5rem;
    text-align: center;
}

.colorButton{
    background-color:#B71C1C;
    color: blanchedalmond;
}

h1{
    color: #263238;
}